$def with(result)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Regresion lineal</title>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
    </head>

    <body>
        <h1>Regresion lineal</h1>

        <form method="POST">
            <label>X</label> <br>
            <input type="number" name="x" id="x">
            <input type="submit" vaule="Predecir">
        </form>

        $if result!=None:
            $result

    </body>
</html>